@font-face {
    font-family: 'open_sansregular';
    src: url('../fuentes/OpenSans-Regular-webfont.eot');
    src: url('../fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'icomoon';
	src:url('../fuentes/icomoon.eot?-7u9zqw');
	src:url('../fuentes/icomoon.eot?#iefix-7u9zqw') format('embedded-opentype'),
		url('../fuentes/icomoon.woff?-7u9zqw') format('woff'),
		url('../fuentes/icomoon.ttf?-7u9zqw') format('truetype'),
		url('../fuentes/icomoon.svg?-7u9zqw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-m667pn');
	src:url('../fonts/icomoon.eot?#iefix-m667pn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-m667pn') format('woff'),
		url('../fonts/icomoon.ttf?-m667pn') format('truetype'),
		url('../fonts/icomoon.svg?-m667pn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-flecha_arriba:before {
	content: "\e605";
}

.icon-flecha_abajo:before {
	content: "\e606";
}

.icon-corazon:before {
	content: "\e607";
}

.icon-usuario:before {
	content: "\e603";
}

.icon-candado:before {
	content: "\e604";
}

.icon-cuenta:before {
	content: "\e600";
    margin: 5px;
}

.icon-verificar:before {
	content: "\e601";
}

.icon-camion:before {
	content: "\e602";
}




a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
    font-family: 'open_sansregular', sans-serif;
	font-size: 16px;
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}
footer p:first-child
{	
	margin-bottom: 0;
}
footer p:last-child
{
    margin-top: 0;
}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}
header
{
    background: #00FF7F;
    color: #FFFAFA;
    overflow: hidden;
    padding: 1.5em;
    position: relative;
    margin-bottom: -24;
    margin-top: -24

    
}
header figure
{
	float: left;
   margin-top: 10px;
   margin-left: 70px;
}
/*hacer lineas verticales :D*/
header #line 
{

float:left;
border-left: 2px solid #F0FFFF; 
width:1px;
height:140px;
}
header #line2 
{

float:right;
border-right: 2px solid #F0FFFF; 
width:1px;
height:140px;
margin-right: 150px;
}

header h1
{
    color:#22BCE0; 
	font-size: 3em;
    font-family: "open_sansregular";
	font-weight: normal;
	margin: 40px 60px 0 400px;
}

header #registro 
{
    margin: 3em 1em 0 0;
	position: absolute;
    list-style: none;

	right: 0;
	top: 0; 
   
}
header div a
{
    
	background: #FF4500;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
    
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
    text-decoration: none;
}
header div a:hover{
	box-shadow: 0 0 30px yellow;
}
header #iniciarS 
{
    margin: 6em 1em 0 0;
	position: absolute;
	right: 0;
	top: 0;
    
}

nav
{
	background:  #5B8BCD; /* #80BCA3 */
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 1;
	padding: 0 6em 0 .5em;
}
/*esto sirve para colocar una linea en el nav*/
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition:.3s;
}
nav ul li a:hover{
	background: #344B54;
}

#logo_prueba
/*hacer capa flotante*/
{
    position:absolute;
    z-index: 10000;
    float: left;
    margin: -20 0 0 -120;
    
}

h2 {
    margin: 10px;
    
}
h2 a{
    text-decoration: none;
   text-emphasis-color: black;
}

#contenido
{
	margin: 1ef; 
}
#contenido .item
{
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}
#contenido .item .autor_item
{
	color: #AAA;
	margin-left: 20px
}
#contenido .item .datos_item .fecha_item
{
	color: #AAA;
	float: right;
	margin-right: 950px
}
#contenido .item .votacion .icon-flecha_arriba
{

	margin-left: 20px;
	text-decoration: none;

}
#contenido .item .votacion .icon-flecha_abajo
{
	text-decoration: none;
}
#contenido .item .votacion .icon-corazon
{
	
	float: right;
	margin-right: 10px;
	text-decoration: none;

}


@media screen and (min-width: 800px){

	#contenido
	{
		overflow: hidden;
        margin: 0 50px 0 0
	}
	#contenido .item 
	{
		width: 49%;
		float: left;
	}
	#contenido .item:nth-child(odd){
		margin-right: 2%;
	}

}

@media screen and (min-width: 1000px){
	aside
	{
		display: block;
		float: right;
		margin:1em;
		width: 25%;
	}
	aside video
	{
		width: 100%;
	}


}













