 font-family: 'open_sansregular';
    src: url('fuentes/OpenSans-Regular-webfont.eot');
    src: url('fuentes/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/OpenSans-Regular-webfont.woff') format('woff'),
         url('fuentes/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fuentes/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-8rs5gh');
	src:url('fonts/icomoon.eot?#iefix-8rs5gh') format('embedded-opentype'),
		url('fonts/icomoon.woff?-8rs5gh') format('woff'),
		url('fonts/icomoon.ttf?-8rs5gh') format('truetype'),
		url('fonts/icomoon.svg?-8rs5gh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-account-circle:before {
	content: "\e600";
}

.icon-verified-user:before {
	content: "\e601";
}

.icon-truck:before {
	content: "\e602";
}


a
{
	color: #22BCE0;
}
body
{
	background: #EEEEEE;
    font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}
footer p:first-child
{	
	margin-bottom: 0;
}
footer p:last-child
{
    margin-top: 0;
}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}
header
{
    background: #00FF7F;
    color: #FFFAFA;
    overflow: hidden;
    padding: 2.5em;
    position: relative;
    
}
header figure
{
	float: left;
   margin-top: auto;
}

header h1
{
    color:#22BCE0; 
	font-size: 3em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: normal;
	margin: 40px 50px 0 200px;
}
header #registro 
{
    margin: 3em 1em 0 0;
	position: absolute;
    list-style: none;
	right: 0;
	top: 0; 
   
}
header div a
{
    
	background: #FF4500;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
    
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
    text-decoration: none;
}
header div a:hover{
	box-shadow: 0 0 30px yellow;
}
header #iniciarS 
{
    margin: 6em 1em 0 0;
	position: absolute;
	right: 0;
	top: 0;
    
}

nav
{
	background:  #5B8BCD; /* #80BCA3 */
	position: relative;
}
nav ul
{
	list-style: none;
	margin: 1;
	padding: 0 6em 0 .5em;
}
/*esto sirve para colocar una linea en el nav*/
nav ul li
{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition:.3s;
}
nav ul li a:hover{
	background: #344B54;
}

#logo_prueba
/*hacer capa flotante*/
{
    position:absolute;
    z-index: 10000;
    float: left;
    margin: -60 0 0 -120;
    
}
header #logo_prueba img:hover{
	/*-webkit-transform: rotate(360deg);*/
	transform: rotate(360deg);
}















