@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-7u9zqw');
	src:url('../fonts/icomoon.eot?#iefix-7u9zqw') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-7u9zqw') format('woff'),
		url('../fonts/icomoon.ttf?-7u9zqw') format('truetype'),
		url('../fonts/icomoon.svg?-7u9zqw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-usuario:before {
	content: "\e603";
}

.icon-candado:before {
	content: "\e604";
}

.icon-cuenta:before {
	content: "\e600";
    margin: 5px;
}

.icon-verificar:before {
	content: "\e601";
}

.icon-camion:before {
	content: "\e602";
}

